<div class="container">
    <div class="info">
        Generate a playlist by entering a theme
    </div>
    <nav class="navbar">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" 
                    placeholder="Search" aria-label="Search"
                    [formControl]="searchControl">
                <button class="btn btn-outline-success" type="button"
                    (click)="onSearch()">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <div id="results" *ngIf="results.length > 0">
        <h1>Results for '{{query}}'</h1>
        <div class="item" *ngFor="let result of results; let i=index;">
            <div class="cover">
                <img src="{{result.album.images[0].url}}" class="img-fluid" width="260">
            </div>
            <div class="track-details">
                <div class="index-pos">
                    <div></div>
                    <div class="num">{{i+1}}</div>
                </div>
                <div class="track">{{result.name}}</div>
                <div class="artists">
                    <ul class="artist">
                        <li *ngFor="let artist of result.artists">
                            {{artist.name}}
                        </li>
                    </ul>
                </div>
                <div class="album">
                    Album: {{result.album.name}}
                </div>
                <div class="play">
                    <div class="blank"></div>
                    <div class="audio">
                        <audio controls>
                            <source src="{{result.preview_url}}" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
        <div class="create_playlist">
            <button type="button" class="btn btn-secondary btn-lg" 
                (click)="onCreatePlaylist()">
                Create Playlist
            </button>
        </div>
    <div>
</div>