<div class="banner-container">
    <div class="box create_playlist">
        <div class="msg-box">
            Generate a music playlist based on your mood, thoughts or
            the weather and add it to your spotify account.
        </div>
    </div>
    <div class="box discover">
        <div class="msg-box">
            Discover new music or podcassts which has been recently 
            released or you have never heard.
        </div>
    </div>
    <div class="box learn">
        <div class="msg-box">
            Get information about your favourite music or podcasts
        </div>
    </div>
</div>