<div class="homePage-container">
    <div class="home-text">
        <div class="sub-title">Interact with your spotify account to create playlists
            and discover new music.
        </div>
    </div>
    <div class="banner">
        <banner></banner>
    </div>
    <div class="login">
        <div class="login-info">
            Start creating your playlists by logging into your spotify account.
            <em>Click the purple spotify logo below.</em> 
        </div>
        <div class="spotify-login">
            <a href={{url}}>
                <img src="/assets/images/purpleSpotifyLogo.png" class="spotify-logo"
                width="140"/>
            </a>
        </div>
    </div>
</div>
