.header {
    /* background-color: gray; */
    padding: 1rem;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    font-size: 5rem;
    font-weight: bold;
    color: grey;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
}



.title {
    font-size: 5rem;
    font-weight: bold;
    color: lightgrey;
    margin: 1rem;
}

.sub-title {
    font-size: 3rem;
    font-weight: bold;
    color: lightgrey;
    margin: 1rem;
    width: 50%;
    border: 2px solid lightgrey;
    padding: 1rem;
    border-radius: 1rem;
}

.banner{
    height: 30rem;
    width: 100%;
    /* border: 2px solid lightgrey; */
}


.msg-box {
    position: absolute;
    top: 35rem;
    right: 34rem;
    color: yellow;
    font-size: 2.4rem;
    height: 20%;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 2rem;
}

.login {
    margin: 0 auto;
    align-items: center;
    height: 30rem;
    width: 50%;
    
}

.login-info {
    font-size: 2rem;
    text-align: center;
    padding: 40px;
    color: lightgrey;
}

.spotify-login {
    text-align: center;
    /* border: 1px solid lightgrey; */
    margin: 0 auto;
    height: 50%;
    width: 50%;
   
}

.spotify-logo:hover {
    background-color: gold;
    border-radius: 50%;
}

.create_playlist{
    background-image: url("/assets/images/headphones.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    
}

.discover{
    background-image: url("/assets/images/discover.jpg");
}
    

.learn{
    background-image: url("/assets/images/learn.jpg");
}

footer{
   color: white;
   text-align: center;
    margin-top: 10rem;
    padding-bottom: 2rem;
    font-size: large;
}